.teams {
    /* margin-top: 4em; */
    padding: 30px 0;
    background: transparent url('https://image.ibb.co/ir1DE8/twinkling.png') repeat top center;
    animation: move-twink-back 200s linear infinite;
    height: auto;
    margin: 0 auto;
    max-width: 90%;
}

.teams h1 {
    padding-top: 15vh;
}

.teams-row-container {
    height: auto;
    width: 100%;
    margin: 0 auto;
}

.teams-row-container .teams-member-container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    height: auto;
}

.teams-row-container h2 {
    padding: 1em 0;
    font-size: 1.3em;
    text-decoration: underline;
}

.teams-row-container .teams-member-container .member {
    position: relative;
    width: 25%;
    height: 350px;
    padding: 1em;
    transition: 0.5s ease-out;
}

.teams-row-container .teams-member-container .member .member-img {
    overflow: hidden;
    height: 70%;
    width: 100%;
    transition: 0.5s ease-out;
}

.teams-row-container .teams-member-container .member .member-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease-out;
}

.teams-row-container .teams-member-container .member .member-info {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    transition: 0.5s ease-out;
    text-align: center;
    text-transform: uppercase;
}

.teams-row-container .teams-member-container .member .member-info h5 {
    all: unset;
    color: #ddd;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1em;
    padding: 0 .5em;
    text-align: center;
}

.teams-row-container .teams-member-container .member .overlay-member-info {
    padding: 1em;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 100%;
    height: 70%;
    z-index: 2;
    display: none;
    background: linear-gradient(to top, rgb(8, 24, 47, 1), rgb(8, 24, 47, 0));
    transition: 1s ease-out;
}

.teams-row-container .teams-member-container .member:hover {}

.teams-row-container .teams-member-container .member:hover .member-img img {
    filter: blur(2px);
    opacity: 0.8;
    transform: scale(1.15);
    transition: 0.5s ease;
}

.teams-row-container .teams-member-container .member:hover .overlay-member-info {
    display: flex;
    transform: translateY(-142%);
    transition: all 1s ease 0s;
    align-items: flex-end;
    place-content: flex-end flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
}

.teams-row-container .teams-member-container .member:hover .overlay-member-info h5 {
    font-weight: 500;
    width: 100%;
}

.teams-row-container .teams-member-container .member .overlay-member-info p {
    text-align: center;
}

.teams-row-container .teams-member-container .member:hover .overlay-member-info p {
    background: chocolate;
}

.fa-ul {
    width: 100%;
    display: flex;
    /* justify-content: space-evenly; */
    margin: 0;
}

.fa-ul li a {
    font-size: 1.5em;
    color: cyan;
    padding: 10px;
    transition: 0.1s ease-in-out;
}

.fa-ul li a:hover {
    font-size: 1.7em;
    color: #ddd;
}

@media (max-width:1024px) {
    .teams-row-container .teams-member-container .member {
        width: 33.33%;
    }
}

@media (max-width:768px) {
    .teams-row-container .teams-member-container .member {
        width: 50%;
    }
}

@media (max-width:512px) {
    .teams-row-container .teams-member-container .member {
        width: 100%;
    }
}