<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" name="description" content="TECKZITE'21, the national level techno-management fest of RGUKT Nuzvid">
    <meta name="keywords" content="Teckzite2021 Teckzite techfest nuzvid IIITN RGUKTN RGUKT RGUKTFEST IIIT ">

    <title>{% block title %}Teckzite 2021{% endblock %}</title>
    {% block html_head %} {% endblock %}
</head>

<body>
    <div class="nav">
        <div class="nav__content">
            <ul class="nav__list">
                <li class="nav__list-item active-nav"><a href="{{url_for('index')}}" class="hover-target">home</a></li>
                {% if current_user.is_authenticated %}
                    {% if current_user.registration_status %}
                    <li class="nav__list-item"><a href="{{url_for('profile')}}" class="hover-target">Profile</a></li>
                    {% else %}
                        <li class="nav__list-item"><a href="{{url_for('register')}}" class="hover-target">Register</a></li>
                    {% endif %}

                {% else %}

                <li class="nav__list-item"><a href="{{url_for('login')}}" class="hover-target">Login/Register</a></li>

                {% endif %}
                <li class="nav__list-item"><a href="{{url_for('workshopsView')}}" class="hover-target">workshops</a></li>
                <li class="nav__list-item"><a href="{{url_for('competitionsView')}}" class="hover-target">competitions</a></li>
                <li class="nav__list-item"><a href="{{url_for('talksView')}}" class="hover-target">talks</a></li>
                <li class="nav__list-item"><a href="{{url_for('projectsView')}}" class="hover-target">project Expo</a></li>
                <li class="nav__list-item"><a href="{{url_for('summitsView')}}" class="hover-target">Summit</a></li>
                <li class="nav__list-item">
                    <a href="{{url_for('virtualView')}}" class="hover-target">Virtual Exibitions</a></li>
                </li>
                <li class="nav__list-item"><a href="{{url_for('sponsorsView')}}" class="hover-target">sponsors</a></li>
                <li class="nav__list-item"><a href="{{url_for('aboutView')}}" class="hover-target">about us</a></li>
                <li class="nav__list-item"><a href="{{url_for('teamView')}}" class="hover-target">Our team</a></li>
        
                <li class="nav__list-item"><a href="{{url_for('ca_portal')}}" class="hover-target">Campus Ambassador</a></li>

            </ul>
        </div>
    </div>

    <div class="container" style="display:inline-block;position: absolute; z-index: 1; text-align: center; width: 50%; margin: 50px auto;">
        <br><br> {% with messages = get_flashed_messages() %} {% if messages %}
        <div class="alert alert-info" role="alert">{{ messages[-1] }}</div>
        {% endif %} {% endwith %}
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    {% block javascript %}{% endblock %}

    <div id="footer">
        {% block footer %}
        <center>

            <section class="footer main">

                <div class="container">
                    <div class="logo">
                        <img src="{{url_for('static', filename='./img/9.png')}}" alt="logo">
                    </div>
                    <hr>

                    <div class="footer-row" id="footer">
                        <div class="footer-col">
                            <h3>know us</h3>
                            <ul>
                                <li><a href="{{url_for('aboutView')}}" class="link">About us</a>|</li>
                                <li><a href="//intranet.rguktn.ac.in/sdcac" class="link">sdcac</a></li>
                                <li><a href="http://rguktn.ac.in/" class="link">rgukt-nuzvid</a></li>
                            </ul>
                        </div>

                        <div class="footer-col">
                            <h3>contact us</h3>
                            <ul>
                                <li>
                                    <a href="{{url_for('teamView')}}" class="link">Our team</a>
                                </li>
                                <li>
                                    <a href="{{url_for('devteamView')}}" class="link">Web Team</a>
                                </li>
                                <li>
                                    <a class="link" style="text-transform: none;">info@teckzite.org</a>
                                </li>
                            </ul>
                        </div>

                        <div class="footer-col">
                            <h3>connect with us</h3>
                            <ul>

                                <li><a href="https://www.instagram.com/teckzite_rguktn/" class="link">instagram</a></li>
                                <li><a href="https://www.linkedin.com/company/teckzite" class="link">linkedin</a></li>
                                <li><a href="https://www.facebook.com/teckzite/" class="link">facebook</a></li>
                                <li><a href="https://twitter.com/teckzite" class="link">twitter</a></li>
                                <li><a href="https://www.youtube.com/channel/UCRfeF0qcPwFCWw6y5GsML7g" class="link">youtube</a></li>
                            </ul>
                        </div>

                    </div>

                    <hr>

                    <div class="copyright">
                        <p style="text-align: center; padding: 2rem;">copyright-2021@rgukt-nuzvid</p>
                    </div>
                </div>

            </section>

        </center>
        <script type="text/javascript">
            var Tawk_API = Tawk_API || {},
                Tawk_LoadStart = new Date();
            (function() {
                var s1 = document.createElement("script"),
                    s0 = document.getElementsByTagName("script")[0];
                s1.async = true;
                s1.src = 'https://embed.tawk.to/60a9f47ba4114e480ad061f4/1f6bu612v';
                s1.charset = 'UTF-8';
                s1.setAttribute('crossorigin', '*');
                s0.parentNode.insertBefore(s1, s0);
            })();
        </script>

        {% endblock %}
    </div>

</body>

</html>