{% extends 'base.html' %} {% block title %} teckzite 2021 | CA-PORTAL{% endblock %} {% block html_head %} {{super()}}

<link rel="icon" type="image/png" sizes="96x96" href="{{url_for('static', filename='./img/favicon.png')}}">
<link rel="stylesheet" href="{{url_for('static', filename='./css/styles.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='./css/loader.css)}}">
<script>
    onload = function resetHeight() {
        document.getElementById("hero").style.height = window.innerHeight + "px"; //window.innerHeight + "px";
    }
    console.log(window.innerHeight);
</script>

{% endblock %} {% block content %} {{super()}}


<div id="loader">
    <div class="content_box">
        <div class="circle">
            <div class="ox"></div>
        </div>
        <div class="background_box b1">
            <div class="background c1"></div>
        </div>
        <div class="background_box b2">
            <div class="background c2"></div>
        </div>
        <div class="background_box b3">
            <div class="background c3"></div>
        </div>
        <div class="background_box b4">
            <div class="background c4"></div>
        </div>
    </div>


    <div class="tran" id="logosvg">
        <svg class="T L" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="350px" height="350px" viewBox="0 0 340 333" enable-background="new 0 0 340 333" xml:space="preserve">
                <defs>
                    <linearGradient id="linear" x1="0%" y1="0%" x2="0%" y2="100%">
                        <stop offset="0%"   stop-color="#25b3ba"/>
                        <stop offset="100%" stop-color="#25b3ba"/>
                    </linearGradient>
                </defs>
                
                  <path class="path" fill=white sstroke="url(#linear)" stroke-width="4.5" stroke-miterlimit="10" d="
                  M300 40 L50 40 L35 140 L110 140 L75 300 L115 300 L157 110 L75 110 L80 80 L300 80 Z"/>
                  
                  
                </svg>

        <div class="zoomoutheader G">
            <h1>
                <font color="white" face="helvetica">DISTANCE PLEASE</font>
            </h1>
        </div>
        <div class="loader-circle"></div>
        <div class="loader-line-mask"></div>
        <div class="loader-line"></div>
        <svg class="Z R" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="350px" height="350px" viewBox="0 0 340 333" enable-background="new 0 0 340 333" xml:space="preserve">
                <defs>
                    <linearGradient id="linear" x1="0%" y1="0%" x2="0%" y2="100%">
                        <stop offset="0%" stop-color="#25b3ba" />
                        <stop offset="100%" stop-color="#25b3ba" />
                    </linearGradient>
                </defs>
                <path class="path" fill=white sstroke="url(#linear)" stroke-width="4.5" stroke-miterlimit="10" d="
                      M170 95 L315 95 L310 130 L195 258 L300 258 L295 290 L138 290 L142 260 L259 130 L165 130 Z
                      " />

        </svg>


    </div>

</div>
</div>




<!-- header -->

<header class="cd-header">
    <div class="header-wrapper">
        <div class="logo-wrap">
            <a href="{{url_for('index')}}">
                <div class="logo"><img src="{{url_for('static', filename='./img/logo.png')}}"></div>
            </a>
        </div>
        <div class="nav-but-wrap">
            <div class="menu-icon hover-target">
                <span class="menu-icon__line menu-icon__line-left"></span>
                <span class="menu-icon__line"></span>
                <span class="menu-icon__line menu-icon__line-right"></span>
            </div>
        </div>
    </div>
</header>



<section class="view">
    <h1 class="pos center">TECKZITE CAMPUS AMBASSADOR</h1>
    <p>TzCA is an initiative of Teckzite, RGUKTN that allows selected represents from various colleges to become part of the organization and support with internal publicity. It provides a great opportunity to get involved with a national level student collaboration
        that extends all over the country. You will be the face and voice of Teckzite at your campus. This program consists of series of challenges and you will be rewarded with points for each challenge.</p>

    <div class="wrapper">
        <center>
            <ul class="list-sec">
                <li data-target="details" class="active">details</li>
                <li data-target="responsibilities">responsibilities</li>
                <li data-target="rewards">rewards</li>
                <li data-target="incentives">incentives</li>
            </ul>
        </center>
        <div class="wrapper-right">
            <div class="content details">
                <p>• You can enhance your skills in the fields of leadership, communication and marketing.</p>
                <br>
                <p>• You may gain chances for networking and maintaining public relations at the national level</p>
                <br>
                <p>• Make the most of a first-class opportunity to be a part of the network of thousands of students across the country, and to collaborate with them</p>
            </div>

            <div class="content responsibilities" style="display:none;">
                <p>• Identifying potential participants for Teckzite on your campus.</p>
                <br>
                <p>• Spreading the word in your campus about events and workshops conducted by Teckzite.</p>
                <br>
                <p>• Acting as our in-house representative for the outreach events conducted by Teckzite.</p>
                <br>
                <p>• Displaying posters sent by Pragyan on your college noticeboard</p>

            </div>

            <div class="content rewards" style="display:none;">
                <p>• Registering a student for Teckzite - 10pts</p>
                <br>
                <p>• Registering a student for a Workshop - 5pts</p>
                <br>
                <p>• Promoting Teckzite on various social media platforms - 5pts</p>

            </div>

            <div class="content incentives" style="display:none;">
                <center>
                    <table border="1">
                        <tr>
                            <th>
                                <p>S.No</p>
                            </th>
                            <th>
                                <p>1000pts</p>
                            </th>
                            <th>
                                <p>800pts</p>
                            </th>
                            <th>
                                <p>600pts</p>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <p>1</p>
                            </td>
                            <td>
                                <p>Certificate</p>
                            </td>
                            <td>
                                <p>Certificate</p>
                            </td>
                            <td>
                                <p>Certificate</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>2</p>
                            </td>
                            <td>
                                <p>Free registration</p>
                            </td>
                            <td>
                                <p>Free registration</p>
                            </td>
                            <td>
                                <p>Free registration</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>3</p>
                            </td>
                            <td>
                                <p>Post on Teckzite page</p>
                            </td>
                            <td>
                                <p>Post on Teckzite page</p>
                            </td>
                            <td>
                                <p>Post on Teckzite page</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>4</p>
                            </td>
                            <td>
                                <p>Opportunity of your questions being asked to guests during guest lectrues</p>
                            </td>
                            <td>
                                <p>Opportunity of your questions being asked to guests during guest lectrues</p>
                            </td>
                            <td>
                                <p>Opportunity of your questions being asked to guests during guest lectrues</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>5</p>
                            </td>
                            <td>
                                <p>Workshop</p>
                            </td>
                            <td>
                                <p>Workshop or Intern opportunity</p>
                            </td>
                            <td>
                                <p>-</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>6</p>
                            </td>
                            <td>
                                <p>Internship opportunity</p>
                            </td>
                            <td>
                                <p>-</p>
                            </td>
                            <td>
                                <p>-</p>
                            </td>
                        </tr>
                    </table>
                </center>
            </div>

        </div>
    </div>

    <div class="accordion-container">

        <h4 style="margin-top:2rem ; color: #eee; font-family: 'Jura'; text-transform: capitalize;">Frequently Asked Questions (FAQs)</h4>

        <br>

        <!-- what is  -->
        <div class="accordion">
            <div class="ico">></div>
            <h5>What is Lorem Ipsum?</h5>
        </div>

        <div class="panel">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iure? Illo, neque fuga dicta minima sequi veritatis maiores harum sint quam fugiat quaerat aut, animi aperiam quae temporibus accusamus aspernatur!</p>
        </div>

        <!-- why we -->
        <div class="accordion">
            <div class="ico">></div>
            <h5>Why we use Lorem Ipsum?</h5>
        </div>

        <div class="panel">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iure? Illo, neque fuga dicta minima sequi veritatis maiores harum sint quam fugiat quaerat aut, animi aperiam quae temporibus accusamus aspernatur!</p>
        </div>

        <!-- where -->
        <div class="accordion">
            <div class="ico">></div>
            <h5>Where we use Lorem Ipsum?</h5>
        </div>

        <div class="panel">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iure? Illo, neque fuga dicta minima sequi veritatis maiores harum sint quam fugiat quaerat aut, animi aperiam quae temporibus accusamus aspernatur!</p>
        </div>

        <!-- how we -->
        <div class="accordion">
            <div class="ico">></div>
            <h5>How we use Lorem Ipsum?</h5>
        </div>

        <div class="panel">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iure? Illo, neque fuga dicta minima sequi veritatis maiores harum sint quam fugiat quaerat aut, animi aperiam quae temporibus accusamus aspernatur!</p>
        </div>

        <!-- when -->
        <div class="accordion">
            <div class="ico">></div>
            <h5>When we use Lorem Ipsum?</h5>
        </div>

        <div class="panel">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iure? Illo, neque fuga dicta minima sequi veritatis maiores harum sint quam fugiat quaerat aut, animi aperiam quae temporibus accusamus aspernatur!</p>
        </div>

    </div>

</section>


<!-- footer -->

{% endblock %} {% block javascript %} {{super()}}

<script src="./js/script.js"></script>
<script src="./js/main.js"></script>

<script>
    const btn = document.querySelectorAll('.list-sec li');
    const ele = document.querySelectorAll('.wrapper-right .content');
    for (var i = 0; i < btn.length; i++) {
        btn[i].addEventListener("click", function() {

            btn.forEach(function(li) {
                li.classList.remove('active');
            })

            this.classList.add('active');

            var eleValue = this.getAttribute("data-target");

            ele.forEach(function(item) {
                item.style.display = "none";
            })

            if (eleValue == "details") {
                document.querySelector("." + eleValue).style.display = "block";
            } else if (eleValue == "responsibilities") {
                document.querySelector("." + eleValue).style.display = "block";
            } else if (eleValue == "rewards") {
                document.querySelector("." + eleValue).style.display = "block";
            } else if (eleValue == "incentives") {
                document.querySelector("." + eleValue).style.display = "block";
            }
            /*else if(eleValue == "register"){
              document.querySelector("." + eleValue).style.display = "block";
            }*/
            else {
                console.log("failed");
            }
        })
    }
</script>
{% endblock %}