{% extends 'base.html' %} {% block title %}Teckzite 2021 | Registrations-User
</Registrations-RGUKT>{% endblock %} {% block html_head %} {{super()}}
<link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='./img/favicon.png')}}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="{{url_for('static', filename='./css/styles.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='./css/loader.css')}}">
<script>
    onload = function resetHeight() {
        document.getElementById("hero").style.height = window.innerHeight + "px"; //window.innerHeight + "px";
    }
    console.log(window.innerHeight);
</script>
<style>
    p {
        color: #e6e6e6bf;
        font-size: 1.2em;
        font-weight: 200;
        padding: 0 10px;
        /* word-break: break-all; */
        letter-spacing: .5px;
        font-weight: 300;
        line-height: 1.3;
    }
    
    a {
        text-decoration: none;
        text-transform: uppercase;
        color: teal;
        font-size: 1.2rem;
        font-weight: 300;
    }
</style>

{% endblock %} {% block content %} {{super()}}

<div id="loader">
    <div class="content_box">
        <div class="circle">
            <div class="ox"></div>
        </div>
        <div class="background_box b1">
            <div class="background c1"></div>
        </div>
        <div class="background_box b2">
            <div class="background c2"></div>
        </div>
        <div class="background_box b3">
            <div class="background c3"></div>
        </div>
        <div class="background_box b4">
            <div class="background c4"></div>
        </div>
    </div>


    <div class="tran" id="logosvg">
        <svg class="T L" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="350px" height="350px" viewBox="0 0 340 333" enable-background="new 0 0 340 333" xml:space="preserve">
                <defs>
                    <linearGradient id="linear" x1="0%" y1="0%" x2="0%" y2="100%">
                        <stop offset="0%"   stop-color="#25b3ba"/>
                        <stop offset="100%" stop-color="#25b3ba"/>
                    </linearGradient>
                </defs>
                
                  <path class="path" fill=white sstroke="url(#linear)" stroke-width="4.5" stroke-miterlimit="10" d="
                  M300 40 L50 40 L35 140 L110 140 L75 300 L115 300 L157 110 L75 110 L80 80 L300 80 Z"/>
                  
                  
                </svg>

        <div class="zoomoutheader G">
            <h1>
                <font color="white" face="helvetica">DISTANCE PLEASE</font>
            </h1>
        </div>
        <div class="loader-circle"></div>
        <div class="loader-line-mask"></div>
        <div class="loader-line"></div>
        <svg class="Z R" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="350px" height="350px" viewBox="0 0 340 333" enable-background="new 0 0 340 333" xml:space="preserve">
                <defs>
                    <linearGradient id="linear" x1="0%" y1="0%" x2="0%" y2="100%">
                        <stop offset="0%" stop-color="#25b3ba" />
                        <stop offset="100%" stop-color="#25b3ba" />
                    </linearGradient>
                </defs>
                <path class="path" fill=white sstroke="url(#linear)" stroke-width="4.5" stroke-miterlimit="10" d="
                      M170 95 L315 95 L310 130 L195 258 L300 258 L295 290 L138 290 L142 260 L259 130 L165 130 Z
                      " />

        </svg>


    </div>

</div>
</div>


<!-- header -->

<header class="cd-header">
    <div class="header-wrapper">
        <div class="logo-wrap">
            <a href="{{url_for('index')}}">
                <div class="logo"><img src="{{url_for('static', filename='./img/logo.png')}}"></div>
            </a>
        </div>
        <div class="nav-but-wrap">
            <div class="menu-icon hover-target">
                <span class="menu-icon__line menu-icon__line-left"></span>
                <span class="menu-icon__line"></span>
                <span class="menu-icon__line menu-icon__line-right"></span>
            </div>
        </div>
    </div>
</header>



<!-- Name, Email, Phone, College, College Id, Year, Branch, -->

<!-- main -->
<section class="registration-container">


    <form class="form" id="form" method="POST">

        <div class="heading">
            <h1>Registration</h1>
        </div>

        <br>

        <br>

        <div class="wrap">
            <div class="f1">
                <label for="">Name</label>
                <input type="text" name="name" required>
                <span class="focus-input"></span>
            </div>
            <div class="f2">
                <label for=" ">Email</label>
                <input type="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}" required>
                <span class="focus-input "></span>
            </div>
        </div>
        <br>

        <div class="wrap ">
            <div class="f1 ">
                <label for=" ">phone</label>
                <input type="text " name="phone" pattern="[0-9]{10}" title="Phone number should be only of 10 digits and numerical only " required>
                <span class="focus-input"></span>
            </div>

            {% if collegeId %}
            <div class="f2">
                <label for=" ">college id</label>
                <input type="text " name="collegeId" value="{{collegeId}}" readonly required>
                <span class="focus-input "></span>
            </div>
            {% else %}
            <div class="f2">
                <label for=" ">college id</label>
                <input type="text " name="collegeId" required>
                <span class="focus-input "></span>
            </div>
            {% endif %}

        </div>
        <br>

        <div class="wrap ">

            {% if college %}

            <div class="f1 ">
                <label for=" ">college</label>
                <input type="text " name="college" value="{{college}} " readonly required>
                <span class="focus-input "></span>
            </div>

            {% else %}

            <div class="f1 ">
                <label for=" ">college</label>
                <input type="text " name="college" required>
                <span class="focus-input "></span>
            </div>

            {% endif %}


            <div class="option f2">
                <label for="bra" class="">Branch</label>
                <select class="sp" id="bra" name="branch" onclick="select()">
                    <option value="">------------Choose Branch------------</option>
                    <option value="CSE">Computer Science Engineering</option>
                    <option value="MECH">Mechaincal Engineering</option>
                    <option value="CHE">Chemical Engineering</option>
                    <option value="CIV">Civil Engineering</option>
                    <option value="MME">Metallurgical and Materials Engineering</option>
                    <option value="ECE">Electronics & Communication Engineering</option>
                    <option value="EEE">Electrical Engineering</option>
                    <option value="PUC">Pre University Course (PUC)</option>
                    <option value="OTHER">Other</option>
                    <span class="focus-input"></span>
                </select>

            </div>
        </div>

        <div class="wrap">
            <div class="f1 sp1" style="display: none;">
                <label for="">OTHER</label>
                <input type="text" id="bra2" name="">
                <span class="focus-input"></span>
            </div>
        </div>

        <center>
            <button class="btn cancel" style="display: none; margin: 1em 0;" onclick="cancel()">cancel</button>
        </center>

        <br>


        <div class="wrap ">

            <div class="option f1 ">
                <label for="fog " class="select ">Gender</label>
                <select class=" " id="fog " name="gender">
                    <option value="M"> Male </option>
                    <option value="F"> Female </option>
                 


                </select>

            </div>

            <div class="option f2 ">
                <label for="poo " class="select ">Year</label>
                <select class=" " id="poo " name="year">
                    <option value="1 "> 1 </option>
                    <option value="2 "> 2 </option>
                    <option value="3 "> 3 </option>
                    <option value="4 "> 4 </option>


                </select>

            </div>


        </div>





        <button class=" btn " type="submit " style="margin: 2.5em 0; ">submit</button>

    </form>

</section>

{% endblock %} {% block javascript %} {{super()}}

<script src="{{url_for( 'static', filename='./js/script.js')}} "></script>
<script src="{{url_for( 'static', filename='./js/main.js')}} "></script>



<script>
    function displayMenu() {
        document.querySelector('.special').style.display = "block ";
    }

    function closeMenu() {
        document.querySelector('.special').style.display = "none ";
    }
    Filevalidation = () => {
        const fi = document.getElementById('file');
        // Check if any file is selected.
        var fileInput =
            document.getElementById('file');

        var filePath = fileInput.value;

        // Allowing file type
        var allowedExtensions =
            /(\.jpg|\.jpeg|\.png|\.gif)$/i;

        if (!allowedExtensions.exec(filePath)) {
            alert('Invalid file type ');
            fileInput.value = ' ';
            return false;
        } else {
            if (fi.files.length > 0) {
                for (const i = 0; i <= fi.files.length - 1; i++) {

                    const fsize = fi.files.item(i).size;
                    const file = Math.round((fsize / 1024));
                    // The size of the file.
                    if (file >= 50) {
                        alert(
                            "File too Big, please select a file less than 50kb ");
                    } else {
                        document.getElementById('size ').innerHTML = '<b>' + file + '</b> KB';
                    }
                }
            }
        }
    }

    function select() {
        console.log(document.querySelector('.sp').value);
        if (document.querySelector('.sp').value == 'OTHER') {
            console.log('hello')
            document.querySelector('.sp1').style.display = "block";
            document.querySelector('.cancel').style.display = "block";
            document.getElementById('bra').setAttribute("name", "");
            document.getElementById('bra2').setAttribute("name", "branch");
        }
    }

    function cancel() {
        document.querySelector('.sp1').style.display = "none";
        document.getElementById('bra').removeAttribute("name", "branch");
        document.querySelector('.cancel').style.display = "none";
        document.querySelector('.sp').value = "";
        document.getElementById('bra2').setAttribute("name", "");
    }
</script>
{% endblock %}