{% extends 'base.html' %} {% block title %}Teckzite 2021| Home{% endblock %} {% block html_head %} {{super()}}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='img/favicon.png')}}">
<link rel="stylesheet" href="{{url_for('static', filename='./css/styles.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='./css/loader.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='./css/homeAnim.css')}}">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<style>
    .cd-header {
        background-color: transparent;
        box-shadow: 0 0 10px rgb(0 0 0 / 50%);
        transition: 0.5s ease-in-out;
    }
    
    .sticky {
        background-color: rgb(34, 29, 29);
    }
</style>

<script>
    onload = function resetHeight() {
        document.getElementById("hero").style.height = window.innerHeight + "px"; //window.innerHeight + "px";
    }
    console.log(window.innerHeight);
</script>

{% endblock %} {% block content %} {{super()}}

<div id="loader">
    <div class="content_box">
        <div class="circle">
            <div class="ox"></div>
        </div>
        <div class="background_box b1">
            <div class="background c1"></div>
        </div>
        <div class="background_box b2">
            <div class="background c2"></div>
        </div>
        <div class="background_box b3">
            <div class="background c3"></div>
        </div>
        <div class="background_box b4">
            <div class="background c4"></div>
        </div>
    </div>


    <div class="tran" id="logosvg">
        <svg class="T L" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="350px" height="350px" viewBox="0 0 340 333" enable-background="new 0 0 340 333" xml:space="preserve">
                    <defs>
                        <linearGradient id="linear" x1="0%" y1="0%" x2="0%" y2="100%">
                            <stop offset="0%"   stop-color="#25b3ba"/>
                            <stop offset="100%" stop-color="#25b3ba"/>
                        </linearGradient>
                    </defs>
                    
                      <path class="path" fill=white sstroke="url(#linear)" stroke-width="4.5" stroke-miterlimit="10" d="
                      M300 40 L50 40 L35 140 L110 140 L75 300 L115 300 L157 110 L75 110 L80 80 L300 80 Z"/>
                      
                      
                    </svg>

        <div class="zoomoutheader G">
            <h1>
                <font color="white" face="helvetica">DISTANCE PLEASE</font>
            </h1>
        </div>
        <div class="loader-circle"></div>
        <div class="loader-line-mask"></div>
        <div class="loader-line"></div>
        <svg class="Z R" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="350px" height="350px" viewBox="0 0 340 333" enable-background="new 0 0 340 333" xml:space="preserve">
                    <defs>
                        <linearGradient id="linear" x1="0%" y1="0%" x2="0%" y2="100%">
                            <stop offset="0%" stop-color="#25b3ba" />
                            <stop offset="100%" stop-color="#25b3ba" />
                        </linearGradient>
                    </defs>
                    <path class="path" fill=white sstroke="url(#linear)" stroke-width="4.5" stroke-miterlimit="10" d="
                          M170 95 L315 95 L310 130 L195 258 L300 258 L295 290 L138 290 L142 260 L259 130 L165 130 Z
                          " />
    
            </svg>


    </div>

</div>
</div>
<div class="main">

</div>


<!-- header -->
<header class="cd-header">
    <div class="header-wrapper">
        <div class="logo-wrap">
            <a href="{{url_for('index')}}">
                <div class="logo"><img src="{{url_for('static', filename='./img/logo.png')}}"></div>
            </a>
        </div>
        <div class="nav-but-wrap">
            <div class="menu-icon hover-target">
                <span class="menu-icon__line menu-icon__line-left"></span>
                <span class="menu-icon__line"></span>
                <span class="menu-icon__line menu-icon__line-right"></span>

            </div>
        </div>
    </div>
</header>

<div class="items-container">
        <div class="menu-items-container">
            <div class="inner-item">
                <a href="#events-high">EVENTS</a>
            </div>
            <div class="inner-item">
                <a href="#workshops-high">WORKSHOPS</a>
            </div>
<!--             <div class="inner-item">
                <a href="#talks-high">TALKS</a>
            </div> -->
            <div class="inner-item">
                <a href="#footer">CONTACT</a>
            </div>
        </div>
    </div>


<!-- home -->
<section class="home">
    <div class="night">
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>

    </div>
    <div class="text">
        <h1 class="theme theme-desk glitch" data-text="TECKZITE'21">TECKZITE'21</h1>
        <h1 class="theme theme-mobile  glitch" data-text="TECKZITE'21">TECKZITE'21</h1>
        <!-- <h3 class="sub">EXPERIENCE THE NEW VIRTUAL REALITY</h3> -->
        <h3 class="sub">Virtual saga of technovation</h3>
    </div>
</section>

<!-- about us -->
<section class="main">
    <div class="container">
        <h1 class="title">about us</h1>
        <div class="about-row">
            <div class="col">
                <h4>teckzite</h4>
                <h5>Unlock your skills</h5>
                <p>Teckzite, an annual National Level Techno-management fest celebrated and lionized by the student community of Rajiv Gandhi University of Knowledge Technologies, Nuzvid.Teckzite excites the students by all means and makes them wait throughout
                    the year. <br></p>
                </p>
                <br>
                <p>Along with the ISO certification 45+ internships and placement offers are also provided to the winners.The main objective of the Teckzite is to stay fresh, exciting year after year and tweaking the challenges that the participants have
                    to do. Every year around 7000+ students from 65+ colleges and universities take part in competitions and events of Teckzite</p>
            </div>
            <div class="col">
                <div class="img">
                    <!-- <iframe src="https://youtu.be/QOR4cIBehTQ" frameborder="0" allowfullscreen></iframe> -->
                    <iframe width="896" height="504" src="https://www.youtube.com/embed/QOR4cIBehTQ" title="Techno video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <br>
        <br>
        <p class="explore" style="padding-top:5px"><a href="{{url_for('aboutView')}}">Read more</a></p>
    </div>

    <!-- comp highlights -->
    <div class="container" id="events-high">
        <h1>competitions</h1>
        <p>TECKZITE presents you most vibrant competitions ranging from technical to Non-technical events including management evnts which explores potential of future technocrats and entrepreneurs. The events are structured to polish student skills which will make your adrenaline rush and bring out the leaders in you.</p>
        <div class="eves">
            <div class="eve">
                <a href="{{url_for('competitionsView')}}"><img src="https://tzimageupload.s3.amazonaws.com/38eb0295-340c-4962-98f7-e0055ce5b30f.jpeg" alt="">
                    <p class="align" style="font-size: 1em;">CODE WAR</p>
                </a>
            </div>
            <div class="eve">
                <a href="{{url_for('competitionsView')}}"><img src="https://tzimageupload.s3.amazonaws.com/50df848d-bd4a-4e15-acf1-da680345114a.jpeg" alt="">
                    <p class="align" style="font-size: 1em;">META QUIZ</p>
                </a>
            </div>
            <div class="eve">
                <a href="{{url_for('competitionsView')}}"><img src="https://tzimageupload.s3.amazonaws.com/cceea772-9a46-4ed3-a2fc-fc702818a166.jpeg" alt="">
                    <p class="align" style="font-size: 1em;">CRYPTEX</p>
                </a>
            </div>
            <div class="eve">
                <a href="{{url_for('competitionsView')}}"><img src="https://tzimageupload.s3.amazonaws.com/cd38993b-55ad-4328-8592-9b5ca8ad59b3.jpeg" alt="">
                    <p class="align" style="font-size: 1em;">DESIGN AND WIN</p>
                </a>
            </div>
        </div>
        <p class="explore"><a href="{{url_for('competitionsView')}}">Explore all</a></p>
    </div>

    <!-- workshops highlights -->
    <div class="container" id="workshops-high">
        <h1>workshops</h1>
        <p>TECKZITE brings you the dynamic array of workshops which not only promulgate knowledge on latest trends and technologies but also help you procure essential skills adding value to your walk of life</p>
        <div class="eves">
            <div class="eve">
                <a href="{{url_for('workshopsView')}}"><img src="{{url_for('static', filename='./img/workshops/web.jpeg')}}" alt="">
                    <p class="align" style="font-size: 1em;">Web development</p>
                </a>
            </div>
            <div class="eve">
                <a href="{{url_for('workshopsView')}}"><img src="{{url_for('static', filename='./img/workshops/iot.jpeg')}}" alt="">
                    <p class="align" style="font-size: 1em;">internet of things</p>
                </a>
            </div>
            <div class="eve">
                <a href="{{url_for('workshopsView')}}"><img src="{{url_for('static', filename='./img/workshops/share.jpeg')}}" alt="">
                    <p class="align" style="font-size: 1em;">Share marketing and investment</p>
                </a>
            </div>
            <div class="eve">
                <a href="{{url_for('workshopsView')}}"><img src="{{url_for('static', filename='./img/workshops/autoDriving.jpeg')}}" alt="">
                    <p class="align" style="font-size: 1em;">Autonomous driving</p>
                </a>
            </div>
        </div>
        <p class="explore"><a href="{{url_for('workshopsView')}}">Explore all</a></p>
    </div>

    </div>
</section>

{% endblock %} {% block javascript %} {{super()}}

<script src="{{url_for('static', filename='./js/script.js')}}"></script>
<script src="{{url_for('static', filename='./js/main.js')}}"></script>
<script src="{{url_for('static', filename='./js/jquery-3.6.0.min.js')}}"></script>
<script type="text/javascript">
    var Tawk_API = Tawk_API || {},
        Tawk_LoadStart = new Date();
    (function() {
        var s1 = document.createElement("script"),
            s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/60a9f47ba4114e480ad061f4/1f6bu612v';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>

<script>
    var swiper = new Swiper('.swiper-container', {
        slidesPerView: 'auto',
        //slidesPerView: 1,
        spaceBetween: 40,
        centeredSlides: true,
        //grabCursor: true,
        loop: true,
        autoplay: {
            delay: 2500,
            disableOnInteraction: false,
        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        breakpoints: {
            // 640: {
            //     //slidesPerView: 'auto',
            //     slidesPerView: 3,
            //     spaceBetween: 10,
            // },
            768: {
                //slidesPerView: 'auto',
                slidesPerView: 3,
                spaceBetween: 70,
            },
            1024: {
                //slidesPerView: 'auto',
                slidesPerView: 4,
                spaceBetween: 50,
            },

        }
    });
</script>

{% endblock %}
