{% extends 'base.html' %} {% block title %}teckzite 2021 | Science-Carnival{% endblock %} {% block html_head %} {{super()}}
<link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='./img/favicon.png')}}">
<link rel="stylesheet" href="{{url_for('static', filename='./css/styles.css')}}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{url_for('static', filename='./css/loader.css')}}">
<script>
    onload = function resetHeight() {
        document.getElementById("hero").style.height = window.innerHeight + "px"; //window.innerHeight + "px";
    }
    console.log(window.innerHeight);
</script>
<style>
    a {
        text-decoration: none;
        text-transform: uppercase;
        color: teal;
        font-size: 1.2rem;
        font-weight: 300;
    }
    
    h1 {
        font-size: 1.5rem;
    }
</style>

{% endblock %} {% block content %} {{super()}}
<div id="loader">
    <div class="content_box">
        <div class="circle">
            <div class="ox"></div>
        </div>
        <div class="background_box b1">
            <div class="background c1"></div>
        </div>
        <div class="background_box b2">
            <div class="background c2"></div>
        </div>
        <div class="background_box b3">
            <div class="background c3"></div>
        </div>
        <div class="background_box b4">
            <div class="background c4"></div>
        </div>
    </div>
    <div class="tran" id="logosvg"><svg class="T L" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="350px" height="350px" viewBox="0 0 340 333" enable-background="new 0 0 340 333" xml:space="preserve"><defs><linearGradient id="linear" x1="0%" y1="0%" x2="0%" y2="100%"><stop offset="0%" stop-color="#25b3ba"/><stop offset="100%" stop-color="#25b3ba"/></linearGradient></defs><path class="path" fill=white sstroke="url(#linear)" stroke-width="4.5" stroke-miterlimit="10" d="
 M300 40 L50 40 L35 140 L110 140 L75 300 L115 300 L157 110 L75 110 L80 80 L300 80 Z"/>
 </svg>
        <div class="zoomoutheader G">
            <h1>
                <font color="white" face="helvetica">DISTANCE PLEASE</font>
            </h1>
        </div>
        <div class="loader-circle"></div>
        <div class="loader-line-mask"></div>
        <div class="loader-line"></div><svg class="Z R" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="350px" height="350px" viewBox="0 0 340 333" enable-background="new 0 0 340 333" xml:space="preserve"><defs><linearGradient id="linear" x1="0%" y1="0%" x2="0%" y2="100%"><stop offset="0%" stop-color="#25b3ba" /><stop offset="100%" stop-color="#25b3ba" /></linearGradient></defs><path class="path" fill=white sstroke="url(#linear)" stroke-width="4.5" stroke-miterlimit="10" d="
 M170 95 L315 95 L310 130 L195 258 L300 258 L295 290 L138 290 L142 260 L259 130 L165 130 Z " />
 </svg></div>
</div>
</div>
<!-- header -->
<header class="cd-header">
    <div class="header-wrapper">
        <div class="logo-wrap">
            <a href="{{url_for('index')}}">
                <div class="logo"><img src="{{url_for('static', filename='./img/logo.png')}}"></div>
            </a>
        </div>
        <div class="nav-but-wrap">
            <div class="menu-icon hover-target"><span class="menu-icon__line menu-icon__line-left"></span><span class="menu-icon__line"></span><span class="menu-icon__line menu-icon__line-right"></span></div>
        </div>
    </div>
</header>



<section class="view">
    <h1 class="pos center">Science Carnival</h1>
    <p>Hello young scientists are you ready to show your creative ideas and solve problems in the society, then here is a golden oppurtunity submit your ideas and grab cash prizes and certificate of excellence </p>
    <center>
        <h5>Eligibility: </h5>
        <p style="text-align:center;">PUC/Intermediate students only</p>
    </center>
    <br>
    <p class="blink" style="text-align:center;">Prize money: INR 10,000</p>
    <br>

    <!-- <h5>Objective:</h5>
    <p>To bring out student’s innovation. To encourage multidisciplinary ideas.</p> -->

    <div class="wrapper">
        <ul class="list-sec">
            <li data-target="description" class="active">description</li>
            <!-- <li data-target="outcome">expected outcome</li> -->
            <!-- <li data-target="judgement">judgement criteria</li> -->
            <li data-target="guidelines">guidelines</li>
            <li data-target="contact">contact</li>
        </ul>
        <div class="wrapper-right">

            <div class="content description">
                <p>Description: Participants should apply principles of science and mathematics to develop economical solutions to technical problems. They are expected to provide solutions for commercial and scientific applications that could meet the consumer
                    and societal needs.

                </p>
            </div>

            <!-- <div class="content outcome">
                <p>We provide an opportunity for students to unleash their potential. Through this event, we think students could develop their problem-solving abilities and it helps to focus on their skill set which is integral for their career. Key takeaways
                    include critical thinking and time management.</p>
            </div> -->

            <!-- <div class="content judgement" style="display:none;">
                <p>Innovation, Novelty, Real worldapplications</p>
                <br>
                <p>(For instance, considering the current situation, we can develop solutions to share secure/accurate information of availability of hospital supplies, constructing cheap and temporary places as an alternative for the bed crunch at hospitals,
                    cheapest ways to produce and supply oxygen).
                </p>
            </div> -->

            <div class="content guidelines" style="display:none;">
                <h5>Teams: Participation individually or in a group with maximum limit of 4 members, of any college and any year. Teckzite registration is mandatory for every team member.</h5>
                <br>
                <h5>First Round: Screening Round </h5>
                <br>
                <p>1.Prepare an abstract and send it to our mail address <span style="color: cyan;">sciencecarnival@teckzite.org</span></p>
                <p>2.Abstract must be written in English and shouldn’t exceed 300 words</p>
                <p>3.Plagiarized abstracts/ideas will be disqualified </p>
                <p>4.Abstract should specify the overall purpose of the projectandthe problem that you’ve investigated along with the proposed solution.</p>

                <p>5.You should mention your team members names and TZ ID’s along with their details. </p>
                <p>6. False identity will lead to disqualification</p>
                <p>7. Please follow the time schedules meticulously</p>
                <p>8. This will be an elimination round and the team which is qualified for second round will be informed through mail/call.
                </p>
                <br>

                <h5>Deadline for video submission: 7th June, 2021. (6:00pm) </h5>

                <br>

                <h5>Second Round: Screening for finalists</h5>
                <br>
                <p>1.You should record a short video that describes your project</p>
                <p>2.Duration of the video shouldn’t exceed five minutes</p>
                <p>3.Upload the it as unlisted video to YouTube (For your reference <a href="http://youtu.be/JOr7JluzEOM" style="font-size: 16px;">click here</a>)</p>
                <p>4.Send the YouTube link to our mail address <span style="color: cyan;">ScienceCarnival2021@teckzite.org</span></p>
                <p>5.You can also attach your journal/paper along with the video link but it isn’t mandatory.</p>
                <p>6. Finalists will be announced based on the results of second round.</p>
                <br>
                <h5>Deadline for video submission: 7th June, 2021. (6:00pm) </h5>

                <br>

                <h5>Final Round: Virtual Expo</h5>
                <br>

                <p>1.Platform -Google meet</p>
                <p>2.You should present your project with prototype before a panel </p>
                <p>3.You’re free to choose the way you present </p>
                <p>4.Time allotted for each project is 15 minutes</p>
                <p>5.Your project will be validated based on the judgement criteria </p>
                <p>6. In case of poor or unavailability of internet connection, please inform coordinators as soon as possible.</p>
                <p>7.Punctuality, time management and demonstration skills will also be considered for judgement.</p>
                <p>8. Based on the judging criteria winner team will be announced after the final round.</p>
                <p>9.visit FAQ page for more details and only call the coordinators if you have ambiguity in the information provided.</p>
                <p>10.Dont ask the coordinators and organizers for the ideas, search on internet and add in your own creativity.</p>
                <br>
                <p class="center">Note: Project with working prototypes will have more chances of winning. </p>
                <br>
                <h5 class="center">The discretion of coordinators is final and binding.</h5>

            </div>

            <div class="content contact" style="display:none;">
                <h5> <i class="fa fa-address-card-o" style="font-size:18px;color:#e6e6e6bf;"></i> &nbsp; &nbsp;Ramakrishna Gudivada </h5>
                <p><i class="fa fa-phone" style="font-size:18px;color:#e6e6e6bf;">
                </i> &nbsp; &nbsp;7095689130</p>
                <p><i class="fa fa-envelope-open" style="font-size:18px;color:#e6e6e6bf;"></i> &nbsp; &nbsp;n160245@rguktn.ac.in </p>
                <br>
                <h5> <i class="fa fa-address-card-o" style="font-size:18px;color:#e6e6e6bf;"></i> &nbsp; &nbsp;Swathi krishna:</h5>
                <p><i class="fa fa-phone" style="font-size:18px;color:#e6e6e6bf;">
                </i> &nbsp; &nbsp;7075070268</p>
                <p><i class="fa fa-envelope-open" style="font-size:18px;color:#e6e6e6bf;"></i> &nbsp; &nbsp;n160086@rguktn.ac.in</p>
            </div>

        </div>
    </div>


</section>
{% endblock %} {% block javascript %} {{super()}}

<script src="{{url_for('static', filename='./js/script.js')}}"></script>
<script src="{{url_for('static', filename='./js/main.js')}}"></script>
<script>
    const btn = document.querySelectorAll('.list-sec li');
    const ele = document.querySelectorAll('.wrapper-right .content');
    for (var i = 0; i < btn.length; i++) {
        btn[i].addEventListener("click", function() {

            btn.forEach(function(li) {
                li.classList.remove('active');
            })

            this.classList.add('active');

            var eleValue = this.getAttribute("data-target");

            ele.forEach(function(item) {
                item.style.display = "none";
            })

            if (eleValue == "description") {
                document.querySelector("." + eleValue).style.display = "block";
            } else if (eleValue == "outcome") {
                document.querySelector("." + eleValue).style.display = "block";
            } else if (eleValue == "judgement") {
                document.querySelector("." + eleValue).style.display = "block";
            } else if (eleValue == "guidelines") {
                document.querySelector("." + eleValue).style.display = "block";
            } else if (eleValue == "contact") {
                document.querySelector("." + eleValue).style.display = "block";
            }
            /*else if(eleValue == "register"){
              document.querySelector("." + eleValue).style.display = "block";
            }*/
            else {
                console.log("failed");
            }
        })
    }
</script>
{% endblock %}