<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teckzite-2021</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
</head>

<body style="padding: 0; margin: 0; color: #000; font-family: 'Montserrat',sans-serif; background-color: #efefef; ">

    <header style="width: 100%; height: auto; background-color: #000; ">
        <div style="display: flex; flex-direction: column; justify-content: space-around; align-items: center; padding: 1em 0; height: auto;">
            <img src="https://teckzite.org/static/img/logo.png" alt="logosvg" style="max-width: 95%; height: 120px; margin: 0;">
            <h3 style="margin: 0; font-size: .8em; max-width: 95%; text-align: center; color: #eee;">THE NATIONAL LEVEL TECHNO-MANAGEMENT FEST</h3>
        </div>
    </header>

    <main style="width: 100%; min-height: 70vh; height: auto; display: flex; flex-direction: column; justify-content: center;">
        <div style="max-width: 90%; margin: 0 auto; padding: 2em 0; text-align: justify; text-justify: inter-character; height: auto;">
            <p>
                {{msg}}
            </p>
        </div>
    </main>

    <footer style=" width: 100%; height: auto; background-color: #1349a1; color: #eee; position: relative; bottom: 0;">
        <div style="display: flex; flex-direction: column; align-items: center; width: 100%; height: auto;">
            <p>Follow us on</p>
            <div style="display: flex; justify-content: space-between;">
                <div style="margin-right:.5em; background-color: #000; padding: 5px 10px; border-radius: 5px;">
                    <a href="https://www.youtube.com/channel/UCRfeF0qcPwFCWw6y5GsML7g"><i class="fab fa-youtube" style="font-size: 1.5em;  color: #eee;"></i></a>
                </div>
                <div style="margin-right:.5em; background-color: #000; padding: 5px 10px; border-radius: 5px;">
                    <a href="https://www.facebook.com/teckzite/"><i class="fab fa-facebook-f" style="font-size: 1.5em;  color: #eee;"></i></a>
                </div>
                <div style="margin-right:.5em; background-color: #000; padding: 5px 10px; border-radius: 5px;">
                    <a href="https://www.instagram.com/teckzite_rguktn/"><i class="fab fa-instagram" style="font-size: 1.5em;  color: #eee;"></i></a>
                </div>
                <div style="margin-right:.5em; background-color: #000; padding: 5px 10px; border-radius: 5px;">
                    <a href="https://www.linkedin.com/company/teckzite"><i class="fab fa-linkedin-in" style="font-size: 1.5em;  color: #eee;"></i></a>
                </div>
                <div style="margin-right:.5em; background-color: #000; padding: 5px 10px; border-radius: 5px;">
                    <a href="https://twitter.com/teckzite"><i class="fab fa-twitter" style="font-size: 1.5em;  color: #eee;"></i></a>
                </div>
            </div>
            <p>Visit our website: <a href="https://www.teckzite.org/" style="color: #ddd;">www.teckzite.org</a></p>
        </div>
    </footer>

</body>

</html>