{% extends 'base.html' %} {% block title %}Teckzite 2021 | ADD RGUKTN {% endblock %} {% block html_head %} {{super()}} {% endblock %}

{% block content %} {{super()}}


		
	<form method="post">
		
		Name:
		<input type="text" name="name"> <br>
		Phone:
		<input type="text" name="phone"> <br>
		CollegeId: 
		<input type="text" name="collegeId"> <br>

		College: 
		<input type="text" name="college"> <br>

		Gender: 
		<select name="gender">
			<option value="M" selected=""> Male </option>
			<option value="F"> Female </option>
		</select>

		State:
		<input type="text" name="state"> <br>
		District:
		<input type="text" name="district"> <br>
		City:
		<input type="text" name="city"> <br>


		<button type="submit"> Submit </button>

	</form>


{% endblock %}