{% extends 'base.html' %}


{% block title %}Teckzite 2021 | Talks{% endblock %}

{% block html_head %}
{{super()}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="{{url_for('static', filename='./css/styles.css')}}">
{% endblock %}


{% block content %}
{{super()}}
    <header class="cd-header">
        <div class="header-wrapper">
            <div class="logo-wrap">
                <a href="index.html">
                    <div class="logo"><img src="{{url_for('static', filename='./img/logo.png')}}"></div>
                </a>
            </div>
            <div class="nav-but-wrap">
                <div class="menu-icon hover-target">
                    <span class="menu-icon__line menu-icon__line-left"></span>
                    <span class="menu-icon__line"></span>
                    <span class="menu-icon__line menu-icon__line-right"></span>
                </div>
            </div>
        </div>
    </header>


    <section class="talks-container">
        <h1 class="center">talks</h1>
        <div class="container">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore enim ratione eius sed tenetur, debitis a harum excepturi delectus itaque nobis, esse aliquid natus neque earum, pariatur impedit et distinctio!</p>
            <div class="talks-row-container">
                <h2 class="center">Previous talks</h2>
                <div class="talks-member-container">

                    <div class="member">
                        <div class="inner">
                            <div class="talk-row">
                                <div class="member-img">
                                    <img src="{{url_for('static', filename='./img/ws/civil.jpg')}}" alt="">
                                </div>
                                <!-- <div class="links">
                    <a href="#">read</a>
                    <a href="#">register</a>
                  </div> -->
                            </div>
                            <div class="member-info">
                                <h5>jds lkdfj lkdfj kdjf</h5>
                                <p>kdfd kdlfgd</p>
                            </div>
                        </div>
                    </div>

                    <div class="member">
                        <div class="inner">
                            <div class="talk-row">
                                <div class="member-img">
                                    <img src="{{url_for('static', filename='./img/ws/civil.jpg')}}" alt="">
                                </div>
                                <!-- <div class="links">
                    <a href="#">read</a>
                    <a href="#">register</a>
                  </div> -->
                            </div>
                            <div class="member-info">
                                <h5>jds lkdfj lkdfj kdjf</h5>
                                <p>kdfd kdlfgd</p>
                            </div>
                        </div>
                    </div>

                    <div class="member">
                        <div class="inner">
                            <div class="talk-row">
                                <div class="member-img">
                                    <img src="{{url_for('static', filename='./img/ws/civil.jpg')}}" alt="">
                                </div>
                                <!-- <div class="links">
                    <a href="#">read</a>
                    <a href="#">register</a>
                  </div> -->
                            </div>
                            <div class="member-info">
                                <h5>jds lkdfj lkdfj kdjf</h5>
                                <p>kdfd kdlfgd</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="talks-row-container">
                    <h2 class="center">Present talks</h2>
                    <div class="talks-member-container">

                        <div class="member">
                            <div class="inner">
                                <div class="talk-row">
                                    <div class="member-img">
                                        <img src="{{url_for('static', filename='./img/ws/civil.jpg')}}" alt="">
                                    </div>
                                    <div class="links">
                                        <a href="#">read</a>
                                        <a href="#">register</a>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h5>jds lkdfj lkdfj kdjf</h5>
                                    <p>kdfd kdlfgd</p>
                                </div>
                            </div>
                        </div>

                        <div class="member">
                            <div class="inner">
                                <div class="talk-row">
                                    <div class="member-img">
                                        <img src="{{url_for('static', filename='./img/ws/civil.jpg')}}" alt="">
                                    </div>
                                    <div class="links">
                                        <a href="#">read</a>
                                        <a href="#">register</a>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h5>jds lkdfj lkdfj kdjf</h5>
                                    <p>kdfd kdlfgd</p>
                                </div>
                            </div>
                        </div>

                        <div class="member">
                            <div class="inner">
                                <div class="talk-row">
                                    <div class="member-img">
                                        <img src="{{url_for('static', filename='./img/ws/civil.jpg')}}" alt="">
                                    </div>
                                    <div class="links">
                                        <a href="#">read</a>
                                        <a href="#">register</a>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h5>jds lkdfj lkdfj kdjf</h5>
                                    <p>kdfd kdlfgd</p>
                                </div>
                            </div>
                        </div>

                        <div class="member">
                            <div class="inner">
                                <div class="talk-row">
                                    <div class="member-img">
                                        <img src="{{url_for('static', filename='./img/ws/civil.jpg')}}" alt="">
                                    </div>
                                    <div class="links">
                                        <a href="#">read</a>
                                        <a href="#">register</a>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h5>jds lkdfj lkdfj kdjf</h5>
                                    <p>kdfd kdlfgd</p>
                                </div>
                            </div>
                        </div>

                        <div class="member">
                            <div class="inner">
                                <div class="talk-row">
                                    <div class="member-img">
                                        <img src="{{url_for('static', filename='./img/ws/civil.jpg')}}" alt="">
                                    </div>
                                    <div class="links">
                                        <a href="#">read</a>
                                        <a href="#">register</a>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h5>jds lkdfj lkdfj kdjf</h5>
                                    <p>kdfd kdlfgd</p>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
    </section>

{% endblock %}


{% block javascript %}
    <script src="{{url_for('static', filename='./js/script.js')}}"></script>
{% endblock %}
