<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teckzite 2021 | Updating</title>
    <link rel="stylesheet" href="./css/coming.css">
</head>
<body>


    <div id="robot">
        <div class="head"></div>
        <div class="arm l"><div><div></div></div></div>
        <div class="leg l"><div><div></div></div></div>
        <div class="leg r"><div><div></div></div></div>
        <div class="arm r"><div><div></div></div></div>
      </div>
      <div class="shadow"></div>
      <p>Updating soon...</p>
      <a href="workshops.html">go back</a>



      <script src="./js/script.js"></script>
    <script src="./js/main.js"></script>
</body>
</html>