<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>teckzite 2021 | view</title>
    <link rel="icon" type="image/png" sizes="96x96" href="./img/favicon.png">
    <link rel="stylesheet" href="{{url_for('static', filename='./css/styles.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='./css/loader.css')}}">
    <script>
        onload = function resetHeight() {
            document.getElementById("hero").style.height = window.innerHeight + "px"; //window.innerHeight + "px";
        }
        console.log(window.innerHeight);
    </script>
</head>

<body>

    <div id="loader">
        <div class="content_box">
            <div class="circle">
                <div class="ox"></div>
            </div>
            <div class="background_box b1">
                <div class="background c1"></div>
            </div>
            <div class="background_box b2">
                <div class="background c2"></div>
            </div>
            <div class="background_box b3">
                <div class="background c3"></div>
            </div>
            <div class="background_box b4">
                <div class="background c4"></div>
            </div>
        </div>


        <div class="tran" id="logosvg">
            <svg class="T L" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="350px" height="350px" viewBox="0 0 340 333" enable-background="new 0 0 340 333" xml:space="preserve">
                <defs>
                    <linearGradient id="linear" x1="0%" y1="0%" x2="0%" y2="100%">
                        <stop offset="0%"   stop-color="#25b3ba"/>
                        <stop offset="100%" stop-color="#25b3ba"/>
                    </linearGradient>
                </defs>
                
                  <path class="path" fill=white sstroke="url(#linear)" stroke-width="4.5" stroke-miterlimit="10" d="
                  M300 40 L50 40 L35 140 L110 140 L75 300 L115 300 L157 110 L75 110 L80 80 L300 80 Z"/>
                  
                  
                </svg>

            <div class="zoomoutheader G">
                <h1>
                    <font color="white" face="helvetica">DISTANCE PLEASE</font>
                </h1>
            </div>
            <div class="loader-circle"></div>
            <div class="loader-line-mask"></div>
            <div class="loader-line"></div>
            <svg class="Z R" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="350px" height="350px" viewBox="0 0 340 333" enable-background="new 0 0 340 333" xml:space="preserve">
                <defs>
                    <linearGradient id="linear" x1="0%" y1="0%" x2="0%" y2="100%">
                        <stop offset="0%" stop-color="#25b3ba" />
                        <stop offset="100%" stop-color="#25b3ba" />
                    </linearGradient>
                </defs>
                <path class="path" fill=white sstroke="url(#linear)" stroke-width="4.5" stroke-miterlimit="10" d="
                      M170 95 L315 95 L310 130 L195 258 L300 258 L295 290 L138 290 L142 260 L259 130 L165 130 Z
                      " />

        </svg>


        </div>

    </div>
    </div>




    <!-- header -->

    <header class="cd-header">
        <div class="header-wrapper">
            <div class="logo-wrap">
                <a href="index.html">
                    <div class="logo"><img src="./img/logo.png"></div>
                </a>
            </div>
            <div class="nav-but-wrap">
                <div class="menu-icon hover-target">
                    <span class="menu-icon__line menu-icon__line-left"></span>
                    <span class="menu-icon__line"></span>
                    <span class="menu-icon__line menu-icon__line-right"></span>
                </div>
            </div>
        </div>
    </header>

    <div class="nav">
        <div class="nav__content">
            <ul class="nav__list">
                <li class="nav__list-item active-nav"><a href="index.html" class="hover-target">home</a></li>
                <li class="nav__list-item"><a href="workshops.html" class="hover-target">workshops</a></li>
                <li class="nav__list-item"><a href="competitions.html" class="hover-target">competitions</a></li>
                <li class="nav__list-item"><a href="talks.html" class="hover-target">talks</a></li>
                <li class="nav__list-item"><a href="updating.html" class="hover-target">projects</a></li>
                <li class="nav__list-item"><a href="updating.html" class="hover-target">sponsors</a></li>
                <li class="nav__list-item"><a href="about.html" class="hover-target">about us</a></li>
                <li class="nav__list-item"><a href="team.html" class="hover-target">team</a></li>
                <li class="nav__list-item"><a href="registration.html" class="hover-target">signup / login</a></li>
                <li class="nav__list-item"><a href="userProfile.html" class="hover-target">Profile</a></li>
            </ul>
        </div>
    </div>




    <section class="view">
        <h1 class="pos center">eve name</h1>
        <div class="row-view">
            <div class="col-view">
                <div class="description">
                    <h4>description</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, nulla provident veniam eum ipsa ipsum sunt molestiae corrupti expedita fuga at sapiente doloribus sit optio incidunt quaerat? Praesentium,<br>Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Odio dignissimos, atque quos cum, impedit perspiciatis consequatur praesentium ad debitis officia voluptatem quia pariatur architecto quas aut consectetur iure, illo dolore.<br>Lorem ipsum dolor sit
                        amet consectetur adipisicing elit. Odio dignissimos, atque quos cum, impedit perspiciatis consequatur.
                        <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio dignissimos, atque quos cum, impedit perspiciatis consequatur praesentium ad debitis officia voluptatem quia
                    </p>
                </div>
                <h5 style="margin:1rem 0 0 0; font-size: 1.5rem;">Fee</h5>
                <p style="font-size: 1.3rem; margin-bottom: 1rem;">INR-500/-</p>
            </div>

            <div class="col-right">
                <div class="img-view">
                    <img src="./img/ws/hacking.jpg" alt="">
                </div>

                <h6 style="padding: 1rem 0; text-align: center;">Organized by</h6>

                <div class="sponsors">
                    <!-- <a href="#"><img src="./img/ws/hacking.jpg" alt=""></a> -->
                    <a href="#"><img src="./img/ws/hacking.jpg" alt=""></a>
                    <a href="#"><img src="./img/ws/hacking.jpg" alt=""></a>
                    <a href="#"><img src="./img/ws/hacking.jpg" alt=""></a>
                </div>

            </div>
        </div>

        <p class="center" style="font-size: 1.2rem; margin: 1rem 0; color:rgba(28, 255, 187, 0.78); text-transform: uppercase; font-weight: 500; font-family: 'Jura';">
            <marquee>Registration will be opening soon!</marquee>
        </p>

        <div class="wrapper">
            <ul class="list-sec">
                <li data-target="abot" class="active">About</li>
                <li data-target="time">time-line</li>
                <li data-target="resource">resource</li>
                <li data-target="contact">contact</li>
            </ul>
            <div class="wrapper-right">
                <div class="content abot">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic et molestias ducimus sunt. Aspernatur molestias ducimus necessitatibus reprehenderit voluptatibus voluptates rem, minus asperiores beatae? Molestiae sequi veritatis quasi
                        nobis eaque.<br>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti ad, voluptatibus nemo sit minima commodi similique nostrum reprehenderit itaque tempora cumque quam, hic fuga dignissimos cupiditate incidunt illo
                        vel? Eum?<br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos minima tempore non quasi, culpa quam mollitia harum laborum reiciendis dicta porro recusandae numquam veritatis officiis excepturi soluta? Nobis,
                        magni. Corporis!</p>
                </div>

                <div class="content time" style="display:none;">
                    <p>minima commodi similique nostrum reprehenderit itaque tempora cumque quam, hic fuga dignissimos cupiditate incidunt illo vel? Eum?</p>
                </div>

                <div class="content resource" style="display:none;">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos minima tempore non quasi, culpa quam mollitia harum laborum reiciendis dicta porro recusandae numquam veritatis officiis excepturi soluta? Nobis, magni. Corporis!</p>
                </div>

                <div class="content contact" style="display:none;">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic et molestias ducimus sunt. Aspernatur molestias ducimus necessitatibus reprehenderit voluptatibus voluptates rem, minus asperiores beatae? Molestiae sequi veritatis quasi
                        nobis eaque.<br>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti ad, voluptatibus nemo sit minima commodi similique nostrum reprehenderit itaque tempora cumque quam, hic fuga dignissimos cupiditate incidunt illo
                        vel? Eum?<br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos minima tempore non quasi, culpa quam mollitia harum laborum reiciendis dicta porro recusandae numquam veritatis officiis excepturi soluta? Nobis,
                        magni. Corporis!</p>
                </div>

            </div>
        </div>

        <div class="accordion-container">

            <h4 style="margin-top:2rem ; color: #eee; font-family: 'Jura'; text-transform: capitalize;">Frequently Asked Questions (FAQs)</h4>

            <br>

            <!-- what is  -->
            <div class="accordion">
                <div class="ico">></div>
                <h5>What is Lorem Ipsum?</h5>
            </div>

            <div class="panel">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iure? Illo, neque fuga dicta minima sequi veritatis maiores harum sint quam fugiat quaerat aut, animi aperiam quae temporibus accusamus aspernatur!</p>
            </div>

            <!-- why we -->
            <div class="accordion">
                <div class="ico">></div>
                <h5>Why we use Lorem Ipsum?</h5>
            </div>

            <div class="panel">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iure? Illo, neque fuga dicta minima sequi veritatis maiores harum sint quam fugiat quaerat aut, animi aperiam quae temporibus accusamus aspernatur!</p>
            </div>

            <!-- where -->
            <div class="accordion">
                <div class="ico">></div>
                <h5>Where we use Lorem Ipsum?</h5>
            </div>

            <div class="panel">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iure? Illo, neque fuga dicta minima sequi veritatis maiores harum sint quam fugiat quaerat aut, animi aperiam quae temporibus accusamus aspernatur!</p>
            </div>

            <!-- how we -->
            <div class="accordion">
                <div class="ico">></div>
                <h5>How we use Lorem Ipsum?</h5>
            </div>

            <div class="panel">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iure? Illo, neque fuga dicta minima sequi veritatis maiores harum sint quam fugiat quaerat aut, animi aperiam quae temporibus accusamus aspernatur!</p>
            </div>

            <!-- when -->
            <div class="accordion">
                <div class="ico">></div>
                <h5>When we use Lorem Ipsum?</h5>
            </div>

            <div class="panel">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iure? Illo, neque fuga dicta minima sequi veritatis maiores harum sint quam fugiat quaerat aut, animi aperiam quae temporibus accusamus aspernatur!</p>
            </div>

        </div>

    </section>


    <!-- footer -->

    <section class="footer">

        <div class="container">
            <div class="logo">
                <img src="./img/9.png" alt="">
            </div>
            <hr>

            <div class="footer-row">
                <div class="footer-col">
                    <h3>know us</h3>
                    <ul>
                        <li><a href="./about.html" class="link">About us</a></li>
                        <li><a href="#" class="link">sdcac</a></li>
                        <li><a href="#" class="link">rgukt-nuzvid</a></li>
                    </ul>
                </div>

                <div class="footer-col">
                    <h3>contact us</h3>
                    <ul>
                        <li><a href="team.html" class="link">team</a></li>
                        <li><a class="link" style="text-transform: none;">sdcac@rguktn.ac.in</a></li>
                    </ul>
                </div>

                <div class="footer-col">
                    <h3>connect with us</h3>
                    <ul>
                        <li><a href="#" class="link">facebook</a></li>
                        <li><a href="#" class="link">instagram</a></li>
                        <li><a href="#" class="link">linkedin</a></li>
                    </ul>
                </div>

            </div>

            <hr>

            <div class="copyright">
                <p style="text-align: center; padding: 2rem;">copyright-2021@rgukt-nuzvid</p>
            </div>
        </div>

    </section>


    <script src="./js/script.js"></script>
    <script src="./js/main.js"></script>

    <script>
        const btn = document.querySelectorAll('.list-sec li');
        const ele = document.querySelectorAll('.wrapper-right .content');
        for (var i = 0; i < btn.length; i++) {
            btn[i].addEventListener("click", function() {

                btn.forEach(function(li) {
                    li.classList.remove('active');
                })

                this.classList.add('active');

                var eleValue = this.getAttribute("data-target");

                ele.forEach(function(item) {
                    item.style.display = "none";
                })

                if (eleValue == "abot") {
                    document.querySelector("." + eleValue).style.display = "block";
                } else if (eleValue == "time") {
                    document.querySelector("." + eleValue).style.display = "block";
                } else if (eleValue == "resource") {
                    document.querySelector("." + eleValue).style.display = "block";
                } else if (eleValue == "contact") {
                    document.querySelector("." + eleValue).style.display = "block";
                }
                /*else if(eleValue == "register"){
                  document.querySelector("." + eleValue).style.display = "block";
                }*/
                else {
                    console.log("failed");
                }
            })
        }
    </script>
</body>

</html>